.h1{
    font-size: 80px;
    text-align: left;
    margin-top: 150px;
    font-weight: bold;
    font-style: oblique;
}
.h4{
    font-size: 20px;
    color:white;
    text-align: justify;
}
.line{
    height: 2px;
    width: 80px;
    background-color: black;
}
.line2{
    height: 2px;
    width: 80px;
    background-color: black;
}
.inner-box2{
    background-color: black;
    min-height: 400px;
    margin-top: 150px;
    
    
    padding: 20px;
    
}
.para1{
    text-align: center;
    color: white;
}
.para2{
    text-align: center;
    color: white;
}
.para3{
    text-align: center;
    color: white;
}
.but1{
    color: orange;
    height: 40px;
    font-weight: bold;
    text-align: center;
  
  
    
}
